<div class="group-section" id="group-leaders" hx-swap-oob="true">
  <div class="section-heading">
    <h2>{{ _('Group leaders') }}</h2>
  </div>

  {% if leaders %}
  <ul class="users leaders">
    {% for user in leaders %}
      <li>
        {% include "groups/partials/user_row.html" with context %}
        {% if user_can_moderate %}
          <div class="remove">
            <a href="{{ url('groups.remove_leader', profile.slug, user.id) }}" title="{{ _('Remove user from leaders') }}">&#x2716;</a>
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
